<div class="row justify-content-center py-5">
    <div class="text-center" style="margin-bottom: 20px;">
      <img src="assets/img/logo2.jpg" alt="logo" width="200px">
    </div>
  
    <div class="col-md-4">
      <div class="cardi card">
        <div class="card-header text-center"><strong>INGRESE SU CORREO PARA RESETEAR SU CONTRASEÑA</strong></div>
        <div class="card-body">
            <form *ngIf="!showMessage" class="row g-3" [formGroup]="form" (ngSubmit)="onSubmit($event,user)" novalidate>
                <div class="col-12">
                  <label for="inputPassword" class="visually-hidden">NUEVA CONTRASEÑA</label>
                  <input placeholder="Nueva contraseña" type="password" class="form-control" formControlName="newPassword" id="inputPassword" [(ngModel)]="user.NewPassword">
                </div>
                <div class="col-12">
                    <label for="inputPassword2" class="visually-hidden">CONFIRMAR CONTRASEÑA</label>
                    <input placeholder="Confirmar contraseña" type="password" class="form-control" formControlName="confirmPassword" id="inputPassword2" [(ngModel)]="user.ConfirmPassword">
                  </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary mb-3">RESTABLECER</button>
                </div>
              </form>
              <div *ngIf="showMessage" class="container">
                <div class="message">
                    <h2 class="text-center">¡Contraseña reestablecida con éxito!</h2>
                    <p class="text-justify">Su contraseña se ha restablecido con éxito. En unos segundos será redirigido al inicio de sesión.</p>
                </div>
              </div>
        </div>
      </div>
    </div>
</div>
