<div class="row justify-content-center py-5">
    <div class="text-center" style="margin-bottom: 20px;">
      <img src="assets/img/logo.png" alt="logo" width="200px">
    </div>
  
    <div class="col-md-6">
      <div class="cardi card">
        <div class="card-header text-center"><strong>INICIAR SESION</strong></div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit($event,user)" novalidate>
  
            <div class="form-group py-2">
              <div class="input-group">
                <label for="inputEmail" class="sr-only">¿Ya tienes cuenta?</label>
                <div class="form-group col-md-10">
                  <mat-form-field appearance="fill">
                    <mat-label>Direccion de e-mail</mat-label>
                    <input matInput #last type="email" class="form-control" formControlName="mail" id="inputEmail" aria-describedby="emailHelp" [(ngModel)]="user.Email">
                  </mat-form-field>
                </div>
  
                <div class="form-group col-md-10">
                    <mat-form-field appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput #first type="password" class="form-control" formControlName="password" id="inputPassword" [(ngModel)]="user.Password">
                    </mat-form-field>
                </div>
  
                <div class="form-group col-md-10">
                  <button mat-raised-button type="submit" class="button-1">INICIAR</button>
                </div>
  
                <div class="col text-center">
                  <a class="link" aria-current="page" routerLink="/forgot-password">¿Olvidaste tu contraseña?</a>
                </div>

                <div class="col text-center">
                    <small> No tienes una cuenta aun? </small>
                    <a class="link" aria-current="page" routerLink="/register">Registrate</a>
                </div>
  
              </div>
  
            </div>
  
          </form>
        </div>
      </div>
    </div>
</div>
  
