<div class="row">
    <div class="col-md-4" *ngFor="let pelicula of peliculas">
        <div class="movie-card">
            <img [title]="pelicula.titulo" height="100%" width="100%" 
            [src]="pelicula.url" [alt]="pelicula.titulo">
            <div class="movie-details">
                <h3 class="text-center">{{ pelicula.titulo }}</h3>
                <p class="description">{{ pelicula.descripcion }}</p>
                <div>
                <p><strong>Duración:</strong> {{ pelicula.duracion }} minutos.</p>
                <p><strong>Elenco:</strong> {{ pelicula.elenco }}</p>
                <p>{{ pelicula.generos }}</p>
                </div>
            </div>
          </div>
    </div>
</div>